[Unit]
Description= Service to start flask applications {{ item }}
After=network.target

[Service]
User= vagrant
Group= www-data
WorkingDirectory= /opt/flask_app
Environment="PATH=/usr/local/bin"
ExecStart= /usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:{{ item }} flask_app_{{ item }}:app

[Install]    
WantedBy= multi-user.target